.skills {
    position: relative;
    width: 100%;
   
    min-height: 130vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.cypress-icon {
    width: 4.5rem;
    height: 4.5rem;
    object-fit: contain;
   
  }
  
.skills::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.749); /* Mörk overlay för att förbättra textsynlighet */
    z-index: 1; /* Placera overlayen ovanför videon */
}

.background-videoo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Se till att videon täcker hela ytan */
    transform: translate(-50%, -50%);
    z-index: -1; /* Placera videon bakom allt annat innehåll */
}

.sectionTitle {
    font-size: 50px; /* Justera storlek på titeln */
    color: #ffffff; /* Färg för titeln */
    margin-bottom: 20px; /* Avstånd under titeln */
    z-index: 2; /* Placera titeln ovanpå overlayen */
    position: relative; /* Ändrad till relative */
}

.skillList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; /* Avstånd mellan ikoner */
    z-index: 2; /* Placera ikonerna ovanpå overlayen */
    position: relative; /* Ändrad till relative */
    padding: 20px; /* Extra padding om nödvändigt */
}

.skillItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white; /* Textfärg */
}

.iconContainer {
    font-size: 4rem; /* Justera ikonstorlek */
    transition: transform 200ms ease-in-out;
}

.iconContainer:hover {
    transform: scale(1.2); /* Skala ikonen vid hover */
}

.icons {
    font-size: 70px; /* Ikonens storlek */
}

/* Anpassning för mindre skärmar */
@media (max-width: 600px) {
    .sectionTitle {
        font-size: 2rem; /* Justera storlek på titeln */
        margin-top: 0; 
    }
    .icons {
        font-size: 50px; /* Justera ikonens storlek för mobila enheter */
    }
    .skillList {
       display: grid;
       grid-template-columns: 1fr 1fr;
      }
   
}
