
.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh; /* Säkerställ att sektionen täcker hela viewport-höjden */
    padding-top: 60px; /* Justera om det behövs för din navbar-höjd */
    margin-bottom: 150px; /* Lägg till utrymme mellan sektioner */
}

.sectionTitle {
    font-size: 50px;
    
    color: #ffffff;
}

.skillList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; /* Justera avståndet mellan färdighetsobjekten */
}

.skillItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    
}

.iconContainer {
    transition: transform 200ms ease-in-out;
    font-size: 4rem; /* Justera ikonstorlek här */
    
}

.iconContainer:hover {
    transform: scale(1.2);
}

.skillItem div {
    font-weight: bold; 
}
.icons{
    font-size: 70px;
}




@media (min-width: 800px) {
    .sectionTitle {
        font-size: 3rem; /* Justera storlek för mellanstora skärmar */
        margin-top: 50px; /* Mindre marginal för mellanstora skärmar */
    }
    .skillList {
        gap: 40px; /* Justera avståndet för mellanstora skärmar */
    }
    .iconContainer {
        font-size: 8rem; /* Justera ikonstorlek för mellanstora skärmar */
    }
}


@media (max-width: 600px) {
    .sectionTitle {
        font-size: 2rem; /* Justera storlek för små skärmar */
        margin-top: 20px; /* Mindre marginal för små skärmar */
    }
    h1{
        margin-bottom: 15px;
    }
    .skillList {
        gap: 20px; /* Mindre avstånd för små skärmar */
    }
    .iconContainer {
        font-size: 3rem; /* Mindre ikonstorlek för små skärmar */
    }
    .icons{
        font-size: 50px;
    }
}

  
  
