.Home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
.Home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Mörk overlay */
    z-index: 1; /* Placera overlayen ovanför videon */
}
.header .navbar .logo {
    cursor: pointer; /* Gör logotypen klickbar */
  }


.about-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%; /* Justera bredden som passar din layout */
    margin: 0 auto;
    z-index: 2;
}
.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Se till att videon täcker hela ytan */
    transform: translate(-50%, -50%);
    z-index: -1; /* Placera videon bakom allt annat innehåll */
  }
.about-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Placera texten till vänster */
    color: aliceblue;
    margin-right: 20px; /* Justera avståndet mellan text och bild */
    
}

.p-text{
    font-weight: 500;
    font-size: 19px;
}
.text-h1 {
    font-size: 45px ;
    font-weight: bold ;
    letter-spacing: 7px ;
    text-transform: uppercase;
    padding: 6px;
  
    animation: shine 5s infinite linear; 
}

@keyframes shine {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 1000px; /* Öka till 1000px för att ge mer utrymme */
    }
}

  
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.about-image {
    width: 350px;
    height: auto;
    margin-bottom: 90px;
    animation: bounce 4s infinite;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 1071px) {
    .Home{
        width: 100%;
        height: auto;
    }
    .about-content {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .about-title {
        align-items: center;
        text-align: center;
        margin-right: 0;
    }

    .about-title h1 {
        font-size: 43px;
        margin-top: 150px;
    }

    .about-title p {
        font-size: 16px;
        margin-top: 20px;
        line-height: 1.5;
        text-align: center; /* Centrera texten för bättre läsbarhet */
    }

    button {
        font-size: 19px;
    }

    .about-image {
        width: 350px;
        margin: 20px 0 0 0;
    }
}

@media screen and (max-width: 600px) {
     .text-h1{
        font-size: 80px;
    }

    .about-title p {
        font-size: 19px;
    }

    .about-image {
        width: 300px;
    }
    button {
        font-size: 13px;
    }
}

@media screen and (max-width: 400px) {
    .about-content {
        flex-direction: column;
        align-items: center;
        margin-top: 100px; /* Öka margin-top för att ge mer utrymme */
    }

    .about-title h1 {
        font-size: 19px;
        margin-top: 60px;
    }

    .about-title p {
        font-size: 19px;
    }

    .about-image {
        width: 240px;
        height: auto;
    }

    button {
        font-size: 13px;
    }
}
