.contact{
    width: 100%;
    min-height: 100vh;
    padding: 40px 0;
   background-color: #090909;
    display: flex;
   flex-direction: column;
    justify-content: center; /* Vertikal centrering */
    align-items: center; /* Horisontell centrering */
    background-image: url(../../assets/skills7.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
}
.contact::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.816); /* Mörk overlay med 60% opacitet */
  z-index: 1;
}
.contact *{
  position: relative;
  z-index: 2;
}
.contact-title{
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    

}
.contact-details{
    display: flex;
   margin-top: 20px;
    align-items: center;
   flex-direction: column;
   color: white;
}
.contact-details a {
  color: #ffffff;
}

.social-media{
    text-align: center;
    justify-content: center;
    
    display: flex;
    font-size: 50px;
   gap: 25px;
   margin-top: 40px;
   
}
.social-media a {
    color: #d6dde1; 
    transition: color 0.5s ease, transform 0.5s ease; 
  }
  
  .social-media a:hover {
    color: #005582; 
    transform: scale(1.2);
  }

  @media screen and (max-width: 600px) {
    .contact{
        width: 100%;
       height: 85vh;
        
    }
    .contact::before{
      background-color: rgba(0, 0, 0, 0.647); 
    }
    .contact-title {
        font-size: 2em;
     
    }
    h1 {
        font-size: 2em;
        margin-top: 200px;
    }
    .contact-details p {
      font-size: 0.9rem;
      margin-bottom: 20px;
    }
  
    .social-media {
      font-size: 1.9rem;
      gap: 10px;
    }
  }

 
