.header {
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
   
 
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
}

.header .nav-menu a {
    color: #ffffff;
}

.header .navbar img{
    width: 50px;
   
    height: auto;
}

.header .nav-menu {
    display: flex;
}



.header .nav-item a{
    padding: 1rem;
    font-weight: 500;
    position: relative;
}

.header .nav-item a {
    padding: 1rem;
    font-weight: 500;
    
}

.header .nav-item a::before {
    content: " ";
    width: 2rem;
    height: 0.2rem;
    background: linear-gradient(90deg, rgb(32, 52, 84) 0%, rgb(200, 211, 200) 100%);
    border-radius: 0.5rem;
    position: absolute;
    bottom: -0.6rem;
    opacity: 0;
    transform: translateX(-1.5rem);
    transition: all 0.3s ease;
}

.header .nav-item a:hover::before {
    width: 80%;
    transform: translateX(0);
    opacity: 9;
}

.hamburger {
    display: none;
}
.icon{
    font-size: 30px;
}


@media screen and (max-width:940px) {
    .header {
        max-width: 100%;
        
    }

    .header .navbar {
        max-width: 100%;
       
    }

    .hamburger {
        display: block;
        color: aliceblue;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 90px;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.5); /* Svart med 50% opacitet */
        backdrop-filter: blur(4px); /* Applicera suddighet */
        width: 50%;
        height: 70vh;
        z-index: 999;
        text-align: center;
        transition: .3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .header .navbar img {
        width: 90px;
        padding: 20px;
    }
}
@media screen and (max-width: 400px){
.header {
    background-color: rgba(14, 25, 54, 0.586);
}
    
}




